# AI Metadata & Local Database (WAJIB DI-IGNORE)
.code-review-graph/
.agent/
.claude/
AGENTS.md
GEMINI.md

# IoT / ESP32
.pio/
.vscode/

# Backend (Golang)
backend/.env
backend/tmp/
backend/bin/
*.exe

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/.env.local
node_modules/

# OS Files
.DS_Store
Thumbs.db