# AI Metadata & Local Database
.code-review-graph/
.claude/
AGENTS.md

# IoT / ESP32
.pio/
.vscode/

# Backend (Golang) - JANGAN ABAIKAN FOLDERNYA, CUMA FILE SENSITIFNYA
backend/.env
backend/tmp/
backend/bin/
*.exe

# Frontend (Next.js) - BUKA PAGARNYA!
frontend/node_modules/
frontend/.next/
frontend/.env.local
node_modules/

# OS Files
.DS_Store
Thumbs.db

# HAPUS baris "frontend/" dari sini agar folder frontend bisa di-push!
# Kalau mau proteksi extra, lu bisa tambah "backend/" di sini 
# TAPI hanya jika lu yakin nggak akan nyentuh backend sama sekali di branch ini.

.agent
GEMINI.md
